.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode
jarkom.code-workspace
server/__pycache__

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dashboard/node_modules
dashboard/.pnp
.pnp.*
.yarn/*
!dashboard/.yarn/patches
!dashboard/.yarn/plugins
!dashboard/.yarn/releases
!dashboard/.yarn/versions

# testing
dashboard/coverage

# next.js
dashboard/.next/
dashboard/out/

# production
dashboard/build

# misc
dashboard/.DS_Store
*.pem

# debug
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
